<div class="row">
  <div class="span3" style="font-weight: bold; color: rgba(055, 055, 255, 1);">
  <!--   Autocomp --> &nbsp;
  </div>
  <div class="span13" >
    
    <div class="row">
      <div class="span3">
        Project name 
      </div>
      <div class="span10">
        <p><strong><a href="http://www.autocomp.com.pl/index.php?lang=eng">Autocomp Electronic Sp. z o.o.</a></strong></p>
      </div>
    </div>

    <div class="row">
      <div class="span3">
        <p>Project summary </p>
      </div>
      <div class="span10">
        <p>Student practice. Increasing professional experience in hardware development and embedded systems.</p>
      </div>
    </div>
    
    <div class="row">
      <div class="span3">
        <p>Position </p>
      </div>
      <div class="span10">
        <p>Junior hardware specialist.</p>
      </div>
    </div>
    
    <div class="row">
      <div class="span3">
        <p>Duration </p>
      </div>
      <div class="span10">
        <p>2 months (July 2006 - August 2006)</p>
      </div>
    </div>
    
    <div class="row">
      <div class="span3">
        <p>Technologies</p>
      </div>
      <div class="span10">
        <ul>
          <li>SMD circuits soldering</li>
          <li>C for 8051 microcontrollers</li>
        </ul>
      </div>
    </div>
    
    <div class="row">
      <div class="span3">
        <p>Tasks</p>
      </div>
      <div class="span10">
        <ul>
          <li>Soldering of SMD circuit boards</li>
          <li>Hardware maintenance of radio devices</li>
          <li>Design of driver for device for glueing solder paste</li>
        </ul>
      </div>
    </div>


    <div class="row">
      <div class="span3">
        <p>Achievements</p>
      </div>
      <div class="span10">
        <ul>
          <li>Designed driver software for a machine for filling soldermask with a solder tin</li>
          <li>Get practice in SMD soldering</li>
          <li>Get practice in placement, placers and ovens for SMD technology</li>
        </ul>        
      </div>
    </div>

  
  </div>
                  
                  
</div>