<div class="row">
  <div class="span3" style="font-weight: bold; color: rgba(055, 055, 255, 1);">
  <!--   Autocomp --> &nbsp;
  </div>
  <div class="span13" >
    
    <div class="row">
      <div class="span3">
        Project name 
      </div>
      <div class="span10">
        <p><strong><a href="http://www.criticue.com">Criticue</a></strong></p>
      </div>
    </div>

    <div class="row">
      <div class="span3">
        <p>Project summary </p>
      </div>
      <div class="span10">
        <p>Development iteration to introduce MVP to beta-stage startup</p>
      </div>
    </div>
    
    <div class="row">
      <div class="span3">
        <p>Position </p>
      </div>
      <div class="span10">
        <p>Full stack developer</p>
      </div>
    </div>
    
    <div class="row">
      <div class="span3">
        <p>Duration </p>
      </div>
      <div class="span10">
        <p>6 months (May 2013 - January 2014)</p>
      </div>
    </div>
    
    <div class="row">
      <div class="span3">
        <p>Technologies</p>
      </div>
      <div class="span10">
        <strong>Back end</strong>
        <ul>
          <li>Ruby 1.9.3</li>
          <li>MongoDB</li>
          <li>Sinatra</li>
          <li>Ruby on Rails</li>
          <li>Cucumber</li>
          <li>RSpec</li>
        </ul>
        <strong>Front end</strong>
        <ul>
          <li>Twitter Bootstrap 2</li>
          <li>jQuery</li>
          <li>underscore.js</li>
          <li>CSS3</li>
          <li>HAML</li>
        </ul>
        <strong>Environment</strong>
        <ul>
          <li>Git</li>
          <li>Textmate</li>
        </ul>
      </div>
    </div>
    
    <div class="row">
      <div class="span3">
        <p>Tasks</p>
      </div>
      <div class="span10">
        <strong>My general task was to provide continuous delivery to develop beta-stage website to fully featured web service, which is ready for marketing stage.</strong>
        <ul>
          <li>Continuous delivery</li>
          <li>Agile task management</li>
          <li>Development of features based on Test-first methodology</li>
          <li>Development of functional based Sinatra application</li>
          <li>To test faster I introduced Ubuntu + Vagrant + Jenkins to reduce testing time about 4 times.</li>
          <li>Heroku deployment</li>
          <li>Git repository</li> 
        </ul>
      </div>
    </div>


    <div class="row">
      <div class="span3">
        <p>Achievements</p>
      </div>
      <div class="span10">
        <ul>
          <li>I can say proudly 'There are other frameworks than Rails!'</li>
          <li>I increased my Ruby development abilities</li>
          <li>I realized how important tests are.</li>
          <li>My processes were: Cucumber, HAML, Ajax, Ruby Model–View-Presenter</li> 
          <li>Red green refactor, red green refactor, red green refactor....</li>
          <li>Work in a small team was pleasure, especially with <a href='http://www.criticue.com/media_kit'>Martin, Ewa and Rajendra</a></li>
          <li>I increased team productivity by mastering using of coffee percolator.</li>
        </ul>        
      </div>
    </div>

  
  </div>
                  
                  
</div>