<div class="row">
  <div class="span3">
    <h3><strong><a href="http://www.lima-nieruchomosci.pl">Lima nieruchomosci</a></strong></h3>
  </div>
  <div class="span9" >
    
    <div class="row-fluid">
      <div class="span2">
        <p>Project summary </p>
      </div>
      <div class="span10">
        <p>Development and administration of simple site for regional real estate agency.</p>
      </div>
    </div>
    
    <div class="row-fluid">
      <div class="span2">
        <p>Position </p>
      </div>
      <div class="span10">
        <p>Co-developer and administrator.</p>
      </div>
    </div>
    
    <div class="row-fluid">
      <div class="span2">
        <p>Duration </p>
      </div>
      <div class="span10">
        <p>1 year + (September 2010 - to date)</p>
      </div>
    </div>
    
    <div class="row-fluid">
      <div class="span2">
        <p>Technologies</p>
      </div>
      <div class="span10">
        <ul>
          <li>PHP + Code Igniter</li>
          <li>HTML + CSS</li>
          <li>jQuery</li>
        </ul>
      </div>
    </div>
    
    <div class="row-fluid">
      <div class="span2">
        <p>Tasks</p>
      </div>
      <div class="span10">
        <ul>
          <li>Frontside with some basic company profile and estate offer</li>
          <li>Admin backend for content management</li>
          <li>Negotiations about site specification, data model.</li>
          <li>Domain purchase and maintenance</li>
          <li>Server maintenance</li>
        </ul>
      </div>
    </div>


    <div class="row-fluid">
      <div class="span2">
        <p>Achievements</p>
      </div>
      <div class="span10">
        <ul>
          <li>Successfull negotiations with customer about site features and price</li>
          <li>Get practical experience with MVC model in website development.</li>
          <li>Get knowledge in PHP framework Code Igniter.</li>
        </ul>        
      </div>
    </div>
  </div>
</div>  
  
<div class="row">
  <div class="span3">
    <h3><strong>Junior Swimming Club</strong></h3>
  </div>
  <div class="span9" >
    <div class="row-fluid">
      <div class="span2">
        <p>Project summary </p>
      </div>
      <div class="span10">
        <p>Web development. Wordpress + server + domain + graphics</p> 
      </div>
    </div>
    
    <div class="row-fluid">
      <div class="span2">
        <p>Position </p>
      </div>
      <div class="span10">
        <p>Website developer and administrator.</p>
      </div>
    </div>
    
    <div class="row-fluid">
      <div class="span2">
        <p>Duration </p>
      </div>
      <div class="span10">
        <p> 4 years (2008 - August 2011)</p>
      </div>
    </div>
 
    <div class="row-fluid">
      <div class="span2">
        <p>Technologies</p>
      </div>
      <div class="span10">
        <ul>
          <li>Photoshop</li>
          <li>Apache + MySQL</li>
          <li>Wordpress</li>
        </ul>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span2">
        <p>Tasks</p>
      </div>
      <div class="span10">
        <ul>
          <li>Digitalization of sketched logo</li>
          <li>Graphical template + CSS</li>
          <li>Wordpress installation</li>
          <li>Domain purchase and maintenance</li>
          <li>Server maintenance</li>
        </ul>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span2">
        <p>Achievements</p>
      </div>
      <div class="span10">
        <ul>
          <li>Negotiated with customer about content and design of site. </li>
          <li>Prepared contemporary template for kids club with new logo.</li>
          <li>Set up website environment on free ovh.com account.</li>
          <li>Installed neccessary plugins.</li>
          <li>Filled content agreed with product owner.</li>
        </ul>        
      </div>
    </div>
  </div>
</div> 
  
