<div class="row">
  <div class="span3" style="font-weight: bold; color: rgba(055, 055, 255, 1);">
  Tieto 
  </div>
  <div class="span9" >
    
    <div class="row">
      <div class="span3">
        Project name 
      </div>
      <div class="span10">
        <p><strong><a href="http://www.tieto.pl/">Tieto Polska</a></strong></p>
      </div>
    </div>

    <div class="row">
      <div class="span3">
        <p>Project summary </p>
      </div>
      <div class="span10">
        <p>First full time job. Tieto organized a new sub-team for hardware programming, which was initiated by my interest in such art of embedded systems.</p>
      </div>
    </div>
    
    <div class="row">
      <div class="span3">
        <p>Position </p>
      </div>
      <div class="span10">
        <p>Junior hardware developer.</p>
      </div>
    </div>
    
    <div class="row">
      <div class="span3">
        <p>Duration </p>
      </div>
      <div class="span10">
        <p>3 months (December 2007 - February 2008)</p>
        <p>Trial period was interrupted by motorbike accident and long rehab period ( Feb 2008 - Dec 2008)
      </div>
    </div>
    
    <div class="row">
      <div class="span3">
        <p>Technologies</p>
      </div>
      <div class="span10">
        <ul>
          <li>VHDL + Verilog (hardware description languages)</li>
          <li>Xilinx Spartan, Altera device boards with FPGA/CPLD chips</li>
          <li>SVN (blah :P)</li>
        </ul>
      </div>
    </div>
    
    <div class="row">
      <div class="span3">
        <p>Tasks</p>
      </div>
      <div class="span10">
        <ul>
          <li>Development of hardware device analogous to UART16550 for serial transmission (RS232)</li>
          <li>Usage of Xilinx ISE (SDK)</li>
        </ul>
      </div>
    </div>


    <div class="row">
      <div class="span3">
        <p>Achievements</p>
      </div>
      <div class="span10">
        <ul>
          <li>Designed a hardware device for serial transmission compatible with UART16550</li>
          <li>Device had a few features to set up: <br />
            <ol>
              <li>speed (9600 - 15200 bps)</li>
              <li>parity bit presence</li>
              <li>parity mode</li>
              <li>and other</li>
            </ol>
          </li>
          <li><span class="label important">Important</span> UART project was introduced in German branch as a proof of abilities of Szczecin branch in hardware development with success. </li>
        </ul>        
      </div>
    </div>
  </div>
</div>
  
  
<div class="row">
  <div class="span3" style="font-weight: bold; color: rgba(055, 055, 255, 1);">
  Autocomp 
  </div>
  <div class="span9" >
    
    <div class="row">
      <div class="span2">
        Project name 
      </div>
      <div class="span10">
        <p><strong><a href="http://www.autocomp.com.pl/index.php?lang=eng">Autocomp Electronic Sp. z o.o.</a></strong></p>
      </div>
    </div>

    <div class="row">
      <div class="span2">
        <p>Project summary </p>
      </div>
      <div class="span10">
        <p>Student practice. Increasing professional experience in hardware development and embedded systems.</p>
      </div>
    </div>
    
    <div class="row">
      <div class="span2">
        <p>Position </p>
      </div>
      <div class="span10">
        <p>Junior hardware specialist.</p>
      </div>
    </div>
    
    <div class="row">
      <div class="span2">
        <p>Duration </p>
      </div>
      <div class="span10">
        <p>2 months (July 2006 - August 2006)</p>
      </div>
    </div>
    
    <div class="row">
      <div class="span2">
        <p>Technologies</p>
      </div>
      <div class="span10">
        <ul>
          <li>SMD circuits soldering</li>
          <li>C for 8051 microcontrollers</li>
        </ul>
      </div>
    </div>
    
    <div class="row">
      <div class="span2">
        <p>Tasks</p>
      </div>
      <div class="span10">
        <ul>
          <li>Soldering of SMD circuit boards</li>
          <li>Hardware maintenance of radio devices</li>
          <li>Design of driver for device for glueing solder paste</li>
        </ul>
      </div>
    </div>


    <div class="row">
      <div class="span2">
        <p>Achievements</p>
      </div>
      <div class="span10">
        <ul>
          <li>Designed driver software for a machine for filling soldermask with a solder tin</li>
          <li>Get practice in SMD soldering</li>
          <li>Get practice in placement, placers and ovens for SMD technology</li>
        </ul>        
      </div>
    </div>
  </div>            
</div> 
  