<div class="row">
  <div class="span3" style="font-weight: bold; color: rgba(055, 055, 255, 1);">
  <!--   Autocomp --> &nbsp;
  </div>
  <div class="span13" >
    
    <div class="row">
      <div class="span3">
        Project name 
      </div>
      <div class="span10">
        <p><strong>Junior Swimming Club</strong></p>
      </div>
    </div>

    <div class="row">
      <div class="span3">
        <p>Project summary </p>
      </div>
      <div class="span10">
        <p>Web development. Wordpress + server + domain + graphics</p> 
      </div>
    </div>
    
    <div class="row">
      <div class="span3">
        <p>Position </p>
      </div>
      <div class="span10">
        <p>Website developer and administrator.</p>
      </div>
    </div>
    
    <div class="row">
      <div class="span3">
        <p>Duration </p>
      </div>
      <div class="span10">
        <p> 4 years (2008 - August 2011)</p>
      </div>
    </div>
 
    <div class="row">
      <div class="span3">
        <p>Technologies</p>
      </div>
      <div class="span10">
        <ul>
          <li>Photoshop</li>
          <li>Apache + MySQL</li>
          <li>Wordpress</li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="span3">
        <p>Tasks</p>
      </div>
      <div class="span10">
        <ul>
          <li>Digitalization of sketched logo</li>
          <li>Graphical template + CSS</li>
          <li>Wordpress installation</li>
          <li>Domain purchase and maintenance</li>
          <li>Server maintenance</li>
        </ul>
      </div>
    </div>


    <div class="row">
      <div class="span3">
        <p>Achievements</p>
      </div>
      <div class="span10">
        <ul>
          <li>Negotiated with customer about content and design of site. </li>
          <li>Prepared contemporary template for kids club with new logo.</li>
          <li>Set up website environment on free ovh.com account.</li>
          <li>Installed neccessary plugins.</li>
          <li>Filled content agreed with product owner.</li>
        </ul>        
      </div>
    </div>

  
  </div>
                  
                  
</div>
