<div class="row">
  <div class="span3" style="font-weight: bold; color: rgba(055, 055, 255, 1);">
  <!--   Autocomp --> &nbsp;
  </div>
  <div class="span13" >
    
    <div class="row">
      <div class="span3">
        Project name 
      </div>
      <div class="span10">
        <p><strong><a href="http://www.lima-nieruchomosci.pl">Lima nieruchomosci</a></strong></p>
      </div>
    </div>

    <div class="row">
      <div class="span3">
        <p>Project summary </p>
      </div>
      <div class="span10">
        <p>Development and administration of simple site for regional real estate agency.</p>
      </div>
    </div>
    
    <div class="row">
      <div class="span3">
        <p>Position </p>
      </div>
      <div class="span10">
        <p>Co-developer and administrator.</p>
      </div>
    </div>
    
    <div class="row">
      <div class="span3">
        <p>Duration </p>
      </div>
      <div class="span10">
        <p>1 year + (September 2010 - to date)</p>
      </div>
    </div>
    
    <div class="row">
      <div class="span3">
        <p>Technologies</p>
      </div>
      <div class="span10">
        <ul>
          <li>PHP + Code Igniter</li>
          <li>HTML + CSS</li>
          <li>jQuery</li>
        </ul>
      </div>
    </div>
    
    <div class="row">
      <div class="span3">
        <p>Tasks</p>
      </div>
      <div class="span10">
        <ul>
          <li>Frontside with some basic company profile and estate offer</li>
          <li>Admin backend for content management</li>
          <li>Negotiations about site specification, data model.</li>
          <li>Domain purchase and maintenance</li>
          <li>Server maintenance</li>
        </ul>
      </div>
    </div>


    <div class="row">
      <div class="span3">
        <p>Achievements</p>
      </div>
      <div class="span10">
        <ul>
          <li>Successfull negotiations with customer about site features and price</li>
          <li>Get practical experience with MVC model in website development.</li>
          <li>Get knowledge in PHP framework Code Igniter.</li>
        </ul>        
      </div>
    </div>

  
  </div>
                  
                  
</div>
