<div class="row">
  <div class="span3">
    <h3><strong><a href="http://www.ncdc.eu">NCDC</a></strong></h3>
  </div>
  <div class="span9" >
    <div class="row-fluid">
      <div class="span2">
        <p>Project summary </p>
      </div>
      <div class="span10">
        <p>Java GWT front end developer</p>
      </div>
    </div>
    
    <div class="row-fluid">
      <div class="span2">
        <p>Position </p>
      </div>
      <div class="span10">
        <p>Java developer</p>
      </div>
    </div>
    
    <div class="row-fluid">
      <div class="span2">
        <p>Duration </p>
      </div>
      <div class="span10">
        <p>16 months (February 2012 - May 2013)</p>
      </div>
    </div>
    
    <div class="row-fluid">
      <div class="span2">
        <p>Technologies</p>
      </div>
      <div class="span10">
        <strong>Main duties</strong>
        <p>Back end</p>
        <ul>
          <li>Java 1.6</li>
          <li>GWT - Google Web Toolkit</li>
          <li>Maven</li>
        </ul>
        <p>Front end</p>
        <ul>
          <li>Twitter Bootstrap 2</li>
          <li>jQuery</li>
          <li>CSS</li>
          <li>GIMP</li>
        </ul>
        <strong>Side projects</strong>
        <ul>
          <li>Atlassian SDK</li>
          <li>Wordpress maintenance</li>
        </ul>
      </div>
    </div>
    
    <div class="row-fluid">
      <div class="span2">
        <p>Tasks</p>
      </div>
      <div class="span10">
        <ul>
          <li>Continuous development of projects for current NCDC customers</li>
          <li>Internal projects related to migration to Jira 5 and Jira 5 plugins development</li>
        </ul>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span2">
        <p>Achievements</p>
      </div>
      <div class="span10">
        <ul>
          <li>I developed internal plugin for Atlassian Jira to solve .</li>
          <li>Ability to decode tons of maven xml configuration files</li>
          <li>I've got sure, that Java is not a language of my dreams</li>
        </ul>        
      </div>
    </div>

  
  </div>
                  
                  
</div>