<h1>Education</h1>

<div class="row">

  <div class="span3">
    10/2004 - 12/2009 
  </div>
  <div class="span9" >
    <p>Studies in Faculty of <strong><a href="http://wi.zut.edu.pl/">Computer Science and Information Systems</a> </strong> at the <strong><a href ="http://zut.edu.pl">West Pomeranian University of Technology in Szczecin</a> </strong>.</p>
    <br />    
    <div class="row-fluid">
      <div class="span2">
        Specialization: 
      </div>
      <div class="span10">
        Embedded Systems Design
      </div>
    </div>
    <br />
    <div class="row-fluid">
      <div class="span2">
        Thesis: 
      </div>
      <div class="span10">
        <em>Localization and tracking sound sources in open space</em>
        <blockquote>
        <p>Sound localisation is a complex problem related to many matters of signal processing.
        This Master Thesis contains few most common methodology in sound localization.
        Main focus is taken into comparing those. Signal processing approach in sound localisation
        needs to clarify such matters as:
        <br />
        - Analog signal processing <br />
        - Digital signal processing<br />
        - Analog to Digital Conversion<br />
        - Time difference of arrival<br />
        - Cross-Correlation with few modifications: <br />
        - + GCC Generalized Cross-Correlation<br />
        - + PHAT Phase Transform<br />
        - + ML Maximum Likelihood<br />          
        </blockquote>
      </div>    
    </div>

    <div class="row-fluid">
      <div class="span2">
        Technologies: 
      </div>
      <div class="span10">
        <ul>
          <li>C++ QT for desktop application </li>
          <li>C, OpenWRT, ADC driver for sensor array</li>
          <li>Latex for publishing</li>
          <li>Altium Designer - PCB creation for sensor array</li>
          <li>DSP algorithms: Cross Correlation, FFT</li>
      </div>    
    </div>

    <div class="row-fluid">
      <div class="span2">
        Achievements: 
      </div>
      <div class="span10">
        <ul>
          <li>Working hardware system of ARM7 and a PC connected by ethernet.</li>
          <li>Developed working microphone array for sensing.</li>
          <li>Implemented set of algorithms for sake of sound localization.</li>
          <li>Improved ARM ADC peripheral driver for speed and number of channels.</li>
          <li>Developed working QT application for sound localization.</li>
          <li>Gathered set of sound samples with good localization quality. </li>

      </div>    
    </div>

  
  </div>
                  
                  
</div>