    <div class='row'>
      <div class="hero-unit">
        <div class='row-fluid'>
          <div class='span7'>
            <!-- HTML generated using hilite.me -->
            <!-- HTML generated using hilite.me --><div style="overflow:auto;width:auto;">
              <pre style="background: #272822; margin: 0; line-height: 125%">
<span style="color: #66d9ef">class</span> <span style="color: #a6e22e">Hello</span>
  <span style="color: #66d9ef">def</span> <span style="color: #a6e22e">initialize</span>
    <span style="color: #cccccc">say_hello</span>
  <span style="color: #66d9ef">end</span>
  <span style="color: #66d9ef">def</span> <span style="color: #a6e22e">say_hello</span>
    <span style="color: #cd00cd">puts</span> <span style="color: #cd0000">&quot;Hello world!&quot;</span>
  <span style="color: #66d9ef">end</span>
<span style="color: #66d9ef">end</span>
            </pre>
          </div>
            <p style="padding-top:20px">
              <a href="#myShortDesc" class='btn btn-primary btn-large btn-block' role="button" data-toggle="modal">Hello.new</a>
            </p>
          </div>
          <div class='span5'>
            <%= image_tag 'pz1_1680.jpg', width: '390'%>
          </div>
        </div>
      </div>
      
      <div id="myShortDesc" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myShortDesc" aria-hidden="true">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="myModalLabel">Hello world!</h3>
        </div>
        <div class="modal-body">
          <p><strong>I am ready to develop new features for your startup.</strong></p>
          <p>A little bit about me:
            <ul>
              <li>I start feature development with tests.</li>
              <li>I do like Continuous Delivery cycle. After each week you know what is done, and how it looks.</li>
              <li>I plan behavior during writing spec's which induce clean code.</li>
              <li>I'm a Certified Scrum Master.</li>
            </ul>            
          </p>
          <p>
            Close this modal, and take a look at my experience. 
          </p>
        </div>
        <div class="modal-footer">
          <a class="btn btn-primary" href="/experience/index/">Go to Experience</a>
          <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
      </div>
  
