    <div class='row'>
      <div class="hero-unit">
        <div class='row-fluid'>
          <div class='span7'>
            <!-- HTML generated using hilite.me -->
            <!-- HTML generated using hilite.me --><div style="overflow:auto;width:auto;">
              <pre style="background: #272822; margin: 0; line-height: 125%">
<span style="color: #66d9ef">class</span> <span style="color: #a6e22e">Hello</span>
  <span style="color: #66d9ef">def</span> <span style="color: #a6e22e">initialize</span>
    <span style="color: #cccccc">say_hello</span>
  <span style="color: #66d9ef">end</span>
  <span style="color: #66d9ef">def</span> <span style="color: #a6e22e">say_hello</span>
    <span style="color: #cd00cd">puts</span> <span style="color: #cd0000">&quot;Hello world!&quot;</span>
  <span style="color: #66d9ef">end</span>
<span style="color: #66d9ef">end</span>
            </pre>
          </div>
            <p style="padding-top:20px"> <%= link_to "Hello.new" , start_index_path, :class => 'btn btn-primary btn-large btn-block' %> </p>
          </div>
          <div class='span5'>
            <%= image_tag 'pz1_1680.jpg', width: '390'%>
          </div>
        </div>
      </div>
  
