      <div class="hero-unit">
        <div class='row'>
          <div class='span7'>
            <pre>
class Hello
  def initialize
    say_hello
  end
  def say_hello
    puts "Hello world!"
  end
end</pre>
            <p> < %  #= link_to "Hello.new" , start_index_path, :class => 'btn primary large' %> </p>
          </div>
          <div class='span5'>
            <%= image_tag 'pz1_1680.jpg', width: '390'%>
          </div>
        </div>
      </div>

