<h1>Other</h1>


  <div class="row">
    <div class="span16">
      <p>I am able to start working in 2-3 weeks after cooperation agreement.</p>
      <p>I am active driver since 10 years (car + motorbike). I possess nice car.</p>
      <p>I have 3 years experience in remote activities (Integra Inc.). </p>
      
      <p>I am a daddy since May 2012 :) , therefore I look for stable but fresh job/freelance opportunity.</p>
      
      
      <h3>Hobby</h3>
      
      <p>CNC metal machining. I am during development of own CNC machine. I developed an <a href='http://www.youtube.com/watch?v=aOxelK1mxfU'>automatic 1-axis feeder</a> for my mate.</p>

      <p>Mechanics - I service my car as much as I am able to.</p>

      <p>Vinyl longplay music.</p>

      <p>Travelling - <a href="http://www.tripadvisor.co.uk/MemberProfile-cpt-a_publictmap.1-a_uid.52383050C35609916225607C8B7038CE">lets see cities I have visited.</a></p>
      
      
    </div>
  </div>



