<h1>Skills</h1>

<h3>Technical skills</h3>

    <table class="table table-striped" >
      <thead>
        <tr>
          <th>Detail</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Programming languages</td>
          <td>Ruby C C++ VHDL Verilog</td>
        </tr>
        <tr>
          <td>Major libraries <br />and frameworks</td>
          <td>Sinatra, Ruby on Rails, QT, Code Igniter</td>
        </tr>
        <tr>
          <td>Frontend technologies</td>
          <td>HAML, CSS3, jQuery, underscore.js</td>
        </tr>
        <tr>
          <td>Repositories</td>
          <td>Git, SVN</td>
        </tr>
        <tr>
          <td>Databases</td>
          <td>Mongo, Postgres, MySQL</td>
        </tr>
        <tr>
          <td>Web servers and hosting technologies</td>
          <td>Apache, AWS EC2, Heroku</td>
        </tr>        
        <tr>
          <td>OS</td>
          <td>Mac (for development), Debian/Ubuntu (remote testing platform)</td> 
        </tr>        
      </tbody>
    </table>

<h3>Languages</h3> 
    <p>Polish - native</p>
    <p>German - intermediate - (B2 Zertifikat Deutsch Plus)</p>
    <p>English - upper intermediate/advanced </p>

<h3>Certified skills and trainings</h3>

<ul>
    <li>Professional Scrum Master (May 2013)</li>
    <li>Negotiation skills development training</li>
    <li>Conducting business and companies law training</li>
</ul>
