<script src="/assets/bootstrap-twipsy.js"></script>

<h1>Skills</h1>

<h3>Technical skills</h3>

    <table class="zebra-striped" id="myTable" >
      <thead>
        <tr>
          <th>Detail</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Programming languages</td>
          <td>C C++ PHP Ruby VHDL Verilog</td>
        </tr>
        <tr>
          <td>Major libraries <br />and frameworks</td>
          <td>Sinatra, Ruby on Rails, QT, Code Igniter</td>
        </tr>
        <tr>
          <td>Frontend technologies</td>
          <td>HTML, CSS, jQuery, underscore.js, webfonts</td>
        </tr>
        <tr>
          <td>Tools</td>
          <td>Git, SVN</td>
        </tr>
        <tr>
          <td>Databases</td>
          <td>Mongo, MySQL, SQLite</td>
        </tr>
        <tr>
          <td>Web servers</td>
          <td>Apache (+ passenger), nginx, Webrick</td>
        </tr>        
        <tr>
          <td>OS</td>
          <td>Mac, Windows, Debian</td> 
        </tr>        
      </tbody>
    </table>

<h3>Languages</h3>
 
    <p>Polish - native</p>
    <p>German - intermediate - (B2 Zertifikat Deutsch Plus)</p>
    <p>English - upper intermediate/advanced </p>

  	
<h3>Administrative skills and trainings</h3>

<ul>
    <li>Own a SME company</li>
    <li>Professional Scrum Master (May 2013)</li>
    <li>Negotiation skills development training</li>
    <li>Conducting business and companies law training</li>
</ul>


    <script type="text/javascript">
    	$(function() {		
        $("#myTable").tablesorter(); 
    	});	
  	</script>
  	
  	
    <script>
      $(document).ready(function () {
        $("a[rel=twipsy]").twipsy({
          live: true
        })
      })
    </script>
