<h1>Skills</h1>

<h3>Technical skills and preferrences</h3>

    <table class="table table-striped" >
      <thead>
        <tr>
          <th>Detail</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Programming languages</td>
          <td>
            <ul>
              <li>Ruby - last year active development - language of choice</li>
              <li>Java - January 2012 - May 2013</li>
              <li>C++  - 2004-2009 - University Projects</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>Major libraries <br />and frameworks</td>
          <td>Sinatra, Ruby on Rails, <br />QT, Code Igniter</td>
        </tr>
        <tr>
          <td>Preferred front-end technologies</td>
          <td>HAML, CSS3, jQuery, underscore.js</td>
        </tr>
        <tr>
          <td>Preferred repository</td>
          <td>Git</td>
        </tr>
        <tr>
          <td>Databases</td>
          <td>Mongo, Postgres, MySQL</td>
        </tr>
        <tr>
          <td>Web servers and hosting technologies</td>
          <td>Apache, AWS EC2, Heroku</td>
        </tr>        
        <tr>
          <td>OS</td>
          <td>
              <ul>
                <li>Mac (for software development)</li>
                <li>Debian/Ubuntu (remote testing platform, servers)</li>
                <li>Windows (for CAD/CAM/EDA software)</li>
              </ul>
          </td> 
        </tr>        
      </tbody>
    </table>

<h3>Languages</h3> 
    <p>Polish - native</p>
    <p>German - intermediate - (B2 Zertifikat Deutsch Plus)</p>
    <p>English - upper intermediate/advanced </p>

<h3>Certified skills and trainings</h3>

<ul>
    <li>Professional Scrum Master (May 2013)</li>
    <li>Negotiation skills development training</li>
    <li>Conducting business and companies law training</li>
</ul>
