/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.main-content {
  margin-top:60px;
}

#myShortDesc .modal-header {
  background-color: #08c;
  border-radius: 5px 5px 0px 0px;
  color: #ffffff;
}

.footer { 
  background-color: #F5F5F5;
  border-top: 1px solid #E5E5E5;
  margin-top: 70px;
  padding: 30px 0px;
  text-align: center;
}

.footer-links li { 
  display: inline;
  padding: 0px 2px 0px 2px;
}

.span2 {
  font-weight: bold;
}