<div class="row">
  <div class="span6">
    <h1>Details</h1>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>No.   </th>
          <th>Detail</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1.</td>
          <td>Name</td>
          <td>Paweł</td>
        </tr>
        <tr>
          <td>2.</td>
          <td>Surname</td>
          <td>Zienkiewicz</td>
        </tr>
        <tr>
          <td>3.</td>
          <td>Gender</td>
          <td>Male</td>
        </tr>
        <tr>
          <td>4.</td>
          <td>Date of birth</td>
          <td>14th of June 1985</td>
        </tr>
        <tr>
          <td>5.</td>
          <td>Nationality</td>
          <td>Polish</td>
        </tr>
        <tr>
          <td>6.</td>
          <td>Mobile phone</td>
          <td>0048 793 991 220</td>
        </tr>
        <tr>
          <td>7.</td>
          <td>e-mail</td>
          <td>pz@lightec.pl</td>
        </tr>
      </tbody>
    </table>

  <br /><br />
  <p>If you think my experience can offer value to your business - feel free to contact me by e-mail or phone.</p>

  </div>
  <div class="span6">
    <p>
      I am located in Szczecin, Poland
    </p>
    <br /><br />
    <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.pl/maps?f=q&amp;source=s_q&amp;hl=pl&amp;geocode=&amp;q=szczecin&amp;aq=&amp;sll=52.025459,19.204102&amp;sspn=10.961742,28.54248&amp;vpsrc=6&amp;ie=UTF8&amp;hq=&amp;hnear=Szczecin,+Zachodniopomorskie&amp;t=h&amp;ll=53.16324,13.980103&amp;spn=1.15269,2.334595&amp;z=8&amp;output=embed"></iframe>
    <br /><small>
    <a href="http://maps.google.pl/maps?f=q&amp;source=embed&amp;hl=pl&amp;geocode=&amp;q=szczecin&amp;aq=&amp;sll=52.025459,19.204102&amp;sspn=10.961742,28.54248&amp;vpsrc=6&amp;ie=UTF8&amp;hq=&amp;hnear=Szczecin,+Zachodniopomorskie&amp;t=h&amp;ll=53.16324,13.980103&amp;spn=1.15269,2.334595&amp;z=8" style="color:#0000FF;text-align:left">Show bigger map</a></small>
    
    <br /><br />
    <p>Szczecin is 143 km from Berlin, 501 km from Prague, and finally 566 km from Warsaw - the capital city of Poland.</p>
    
  </div>
</div>

<div class="row">
  <div class="span12">
    <h1>Other</h1>
  </div>
</div>

<div class="row">
  <div class="span12">
    <p>I'm self employed. I can work on full time (job agreement) or freelance (invoice) basis.</p>
    
    <p>I'm an active driver since 10 years (car + motorbike). I possess a nice car.</p>
    
    <p>I have 3 years experience in remote activities (Integra Inc.). </p>
    
    <p>I am a daddy since May 2012 :) , therefore I look for stable but fresh job/freelance opportunity.</p>
    
    
    <h2>Hobby</h2>
    
    <p>CNC metal machining. I am during development of own CNC machine. I developed an <a href='http://www.youtube.com/watch?v=aOxelK1mxfU'>automatic 1-axis feeder</a> for my mate.</p>

    <p>Mechanics - I service my car as much as I am able to.</p>

    <p>Vinyl longplay music.</p>

    <p>Travelling - <a href="http://www.tripadvisor.co.uk/MemberProfile-cpt-a_publictmap.1-a_uid.52383050C35609916225607C8B7038CE">lets see cities I have visited.</a></p>
    
  </div>
</div>
